#galerie {
    a {
        display: none;
    }
    overflow: hidden;
    display: grid;
    img {
        size: auto;
    }
    figure:hover {
        animation: gal_statica;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        a {
            display: block;
        }
    }
    &:hover {
        figure {
            opacity: 0.25;
        }
    }
}
@keyframes gal_statica {
    100% {
        transform: scale(1.4);
        transform-origin: top;
        opacity: 1;
        border-radius: 15px 15px 15px 15px;
    }
}
@media screen and (max-width: 500px) {
    #galerie {
        figure:nth-child(n) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    #galerie {
        figure:nth-child(2n + 1) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        figure:nth-child(2n + 2) {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
}

@media screen and (min-width: 901px) {
    #galerie {
        padding: 0px 100px 100px 100px;
        align-self: center;
        figure:nth-child(5n + 1) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        figure:nth-child(5n + 2) {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        figure:nth-child(5n + 3) {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        figure:nth-child(5n + 4) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        figure:nth-child(5n + 5) {
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}
