#main-title {
    grid-template-areas:
        "intro"
        "tabel"
        "calendar"
        "anunturi"
        "zona_proprie"
        "date_site"
        "utilizatori"
        "statistici"
        "galerie"
        "locatie";
    #zona_proprie {
        grid-template-areas:
            "magazin"
            "forum"
            "blog"
            "produse"
            "intrebari";
    }
}
#galerie-animata {
    display: none;
}
