body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    overflow: auto auto;
    background-color: var(--color_default_light);
    background-color: var(--color_default_darker);
}

$section_border: 0.1em solid black;
$section_radius: 50px 50px 50px 50px;

#intro,
#calendar,
#tabel,
#anunturi,
#isto-magazin,
#isto-proiect,
#magazin,
#forum,
#blog,
#produse,
#intrebari,
#date_site,
#utilizatori,
#statistici,
footer,
#zona_proprie h2 {
    padding: 10px;
    background-color: var(--color_default_darker);
    background-color: var(--color_default_light);
    border: $section_border;
    border-radius: $section_radius;
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}

#main-title {
    grid-area: main;
    display: grid;
    gap: 1em;
    overflow: auto auto;
    #intro {
        grid-area: intro;
    }
    #calendar {
        grid-area: calendar;
    }
    #tabel {
        grid-area: tabel;
    }
    #anunturi {
        grid-area: anunturi;
    }
    #zona_proprie {
        grid-area: zona_proprie;
        display: grid;
        gap: 1em;
        overflow: auto auto;
        #istoric {
            grid-area: istoric;
            display: grid;
            gap: 0.5em;
            h3 {
                grid-area: name;
            }
            #isto-magazin {
                grid-area: isto-magazin;
            }
            #isto-proiect {
                grid-area: isto-proiect;
            }
        }
        #magazin {
            grid-area: magazin;
        }
        #forum {
            grid-area: forum;
        }
        #blog {
            grid-area: blog;
        }
        #produse {
            grid-area: produse;
        }
        #intrebari {
            grid-area: intrebari;
        }
    }
    #date_site {
        grid-area: date_site;
    }
    #utilizatori {
        grid-area: utilizatori;
    }
    #statistici {
        grid-area: statistici;
    }
}
