#main-title {
    grid-template-areas:
        "intro intro"
        "tabel tabel"
        "calendar anunturi"
        "zona_proprie zona_proprie"
        "date_site date_site"
        "utilizatori statistici"
        "galerie galerie";
    #zona_proprie {
        grid-template-areas:
            "magazin forum"
            "blog produse"
            "intrebari intrebari";
    }
}
#galerie-animata {
    display: none;
}
