<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Sandbadog- cos virtual</title> 
        <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <script type="text/javascript" src="/resurse/scripts/cos-virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main  class="text-container">
            <button id="cumpara">
                Cumpara
            </button>     
    </main>
    
    <%- include("../fragmente/footer") %>
    </body>
</html>