<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Doi</title>
    <%- include("../fragmente/head.ejs") %>
        <style>
            body {
                --color_default: #0076F5;
                --color_default_light: #99CAFF;
                --color_default_darker: #0051A8;
                --color_alternative: #A86B00;
                --color_alternative_lighter: #F5C167;
            }
        </style>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <h2>Pagina Doi</h2>
        <%- include("../fragmente/footer.ejs") %>

</body>

</html>