<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Galerie</title>
    <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/galerie.css" type="text/css" />
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <div class="text-container">
                <h2>Galerie</h2>
                <%- include("../fragmente/galerie.ejs")%>
            </div>

        </main>
        <%- include("../fragmente/footer.ejs") %>

</body>

</html>