<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Istoric</title>
    <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/resurse/css/istoric.css">
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <section class="text-container" id="istoric">
                <h1>
                    <span class="fas fa-landmark"></span> Istoric
                </h1>
                <section id="isto-magazin">
                    <h3>Despre magazin</h3>
                    <p>Traind intr-o tara ce nu se afla ca un public tinta pentru producatorii de continut, noi nu
                        beneficiem de anumite avantaje pe care alte tari mai dezvoltate o au. De exemplu, Gamestop
                        ofer
                        programul lor de buy-back, daca cumperi un produs si dupa o perioada vrei sa il vinzi inapoi
                        catre companie, ei pot sa iti dea banii pe loc, insa o suma foarte mica comparativ cu cat ai
                        platit si cat ai putea primi daca ai cauta pe un site precum OLX sau Ebay. Acest lucru nu e
                        necesar o mare pierdere, insa este doar o mica parte din ce am pierde. Oricum nu toate
                        tarile
                        dezvoltate sunt la fel, exista si exclusivitati de regiune, ceea ce determina multe persoane
                        sa
                        comande pe site-uri ce importa produse din astfel de regiuni, precum Japonia (jocuri sau
                        versiuni ale consolelor sunt disponibile doar acolo)</p>
                    <aside>
                        <p>Chiar daca s-ar putea accepta "as-is" doresc sa mentionez de ce spun ca nu suntem un
                            public
                            tinta. Un
                            lucru extrem de evident este modul in care produsele ajung la noi, chiar daca salariul
                            nostru pe
                            economie reprezinta <b>pretul</b> a 4-5 <b>jocuri</b> noi si nu avem preturi specifice
                            pentru noi,
                            mai
                            accesibile, nu avem nici implicatie din partea producatorilor sa faca <b>jocurile</b> si
                            mai
                            accesibile
                            pentru un public larg. Aproape tuturor jocurilor le lipsesc subtritari sau actori vocali
                            in
                            romana, cum majoritatea persoanelor in varsta nu sunt familiare cu o limba straina, ei
                            nu se
                            pot
                            bucura de continut (acest lucru se diminueaza intrucat jocuri cu buget mari au inceput
                            sa
                            traduca jocuri si in romana de exemplu noul Ratched & Clank: Rift Apart si un joc usor
                            mai
                            vechi, The Divison 2 au subtritari in romana)
                            De asemenea datorita pretului de import <b>consolele</b> nu pot fi usor achizitionate
                        </p>
                        <aside>
                            <p>
                                Legat de traducerile in limba romana, la momentul actual cei care se joaca de mult
                                timp,
                                nu ar putea sa foloseasca in mod activ traducerile in limba romana, intrucat exista
                                o
                                obsinuinta de a vedea limba engleza, astfel limba romana ar fi selectata doar ca
                                amuzament. Acesta se declanseaza si datorita traducerilor actuale (facute de
                                comunitate
                                in jocurile Valve dar si oficiale in <abbr title="League of Legends">LoL</abbr> care
                                sunt facute destul de prost). In general cuvintele vulgare sunt cele care produc
                                acest
                                amuzament intrucat se incearca cenzurarea sau alternarea lor.
                            </p>
                            <details>
                                <summary>
                                    Exemplu pentru o subtritare in romana
                                </summary>
                                <div class="iframe-container">
                                    <iframe name="exemplu-subtritare"></iframe>
                                    <ul>
                                        <li>
                                            <a href="https://i.redd.it/9y51qik9k0171.jpg" target="exemplu-subtritare"
                                                title="Nu stiu, pula mea. niste caini. Nu i-am intrebat cum ii cheama.">
                                                <q
                                                    cite="https://www.ubisoft.com/en-gb/game/the-division/the-division-2">Nu
                                                    stiu...</q> </a>
                                        </li>
                                        <li>
                                            <a href="https://i.ibb.co/wJVYDkW/Whats-App-Image-2021-10-09-at-4-23-25-PM-1.jpg"
                                                target="exemplu-subtritare"
                                                title="Da, e o zi minunata pentru Festivalul Eroilor aici, in Megalopolis">
                                                <q
                                                    cite="https://www.playstation.com/ro-ro/games/ratchet-and-clank-rift-apart/">Da,
                                                    e...</q>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://i.ibb.co/Kmzf0bV/Whats-App-Image-2021-10-09-at-4-23-25-PM.jpg"
                                                target="exemplu-subtritare" title="Ratchet and Clank: Rift Apart(2021)
                                                    Meniu">Meniu</a>
                                        </li>
                                    </ul>
                                </div>
                            </details>
                            <blockquote
                                cite="https://roxanamchirila.com/2019/05/23/cum-am-tradus-in-romana-tom-clancys-the-division-2/">
                                <p>
                                    Românii suferă de un tic ciudat în scris. Spunem „Ce zici, bă?” și scriem,
                                    „Nu vă
                                    supărați, ce ați zis?”. Spunem, „Cine pana mea e și ăsta?”, dar scriem,
                                    „Cine este
                                    acest domn?”. Ticul e atât de grav încât, în momentul în care reinstalez
                                    Windows,
                                    Skype îmi corectează automat „asta” în „aceasta”, de parcă ar fi o greșeală
                                    de
                                    tipar. Cineva, undeva, a decis că eu nu vreau să le spun prietenilor mei
                                    „Asta-i
                                    viața, frate”, ci „Aceasta-i viața, frate”, nu cumva să sune urât.</p>
                                <p>
                                    Am vrut ca replicile traduse să arate ca limba pe care o vorbim, nu ca limba
                                    pe care
                                    o scriem când vrem să dăm bine. Am vrut și ca replicile să sugereze ceva
                                    despre
                                    natura vorbitorilor. Și deși am încercat să facem asta prin fiecare aspect
                                    al
                                    replicilor, probabil că e cel mai clar exemplu e cel al înjurăturilor.</p>
                                <p> După cum ziceam mai sus, Tom Clancy’s The Division e un joc cu împușcături,
                                    despre o
                                    lume post-apocaliptică în care oamenii se omoară unii pe alții fie din
                                    credințe
                                    nebune, fie pentru a-și fura puținul pe care-l au, ba uneori chiar și din
                                    pur
                                    sadism. Iar lucrul ăsta se reflectă și în faptul că nu e recomandat
                                    copiilor, ci e
                                    menit unui public adult. 18+.</p>
                                <p> N-a fost nevoie de multă deliberare în echipă înainte să mă duc la Ubisoft
                                    să-i
                                    întreb dacă ne permit să băgăm înjurături. Și răspunsul lor a fost
                                    afirmativ.</p>
                                <p> Mi s-a părut un moment istoric. Nu înjur foarte mult în viața reală, dar
                                    sunt un
                                    geek cu pasiune pentru cuvinte și îmi plac înjurăturile pentru ceea ce pot
                                    ele să
                                    transmită, pentru fluența lor, pentru atmosfera lor. Mai demult, curentul
                                    din care
                                    făcea parte și Irina Margareta Nistor era unul în care arta și
                                    divertismentul erau
                                    considerate înalte și nu se coborau în argou și limbaj licențios.</p>
                            </blockquote>
                        </aside>
                    </aside>
                    <p>
                        Astfel, acest magazin este doar un mic vis care probabil nu ar fi benefic din punct de
                        vedere al
                        afacerii insa ar putea arata ce s-ar intampla daca toate lucrurile ar fi in acelasi loc.
                        Astfel
                        din ce cred ca multi si-ar dori:
                    </p>
                    <ul>
                        <li><b>Cumpararea</b> jocurilor sau a obiectelor diverse la un pret accesibil pentru noi (nu
                            depinde de
                            noi)</li>
                        <li>Vanzarea jocurilor terminate pentru credit in store sau cash</li>
                        <li>Inchirirearea jocurilor (pentru ca nu toti vrem jocul pe raft)</li>
                        <li>Darea spre inchiriere a jocurilor catre alte persoane (pentru ca ar fi foarte usor sa
                            gasesti persoane, poate chiar convingi un cumparator sa inchirieze in schimb)</li>
                        <li>Match-ul pretului de pe magazinele online (precum PlayStation Store / Nintendo eShop) cu
                            pretul din magazin</li>
                    </ul>
                    <p>
                        <strong>ATENTIE!</strong> Magazinul nu este real! Nu se poate accesa niciun produs sau
                        serviciu!
                    </p>

                    <article>
                        <h3>
                            <span class="fas fa-sync fa-spin"></span> Ce a fost primul jocul sau
                            <b>consola</b>?
                        </h3>
                        <p> Un spin-off de la celebra problema "Ce a fost primul, oul sau gaina?" la care raspunsul
                            potrivit este ca <q lang="en"
                                cite="https://www.science.org.au/curious/earth-environment/which-came-first-chicken-or-egg">ouale
                                au fost primele care au dat gaini, insa nu ouale de gaina</q> , insa in cazul nostru
                            este evident au existat calculatoare voluminoase,
                            mari, oamenii se plictiseau si doreau sa testeze componentele asa ca au ajuns sa faca
                            jocuri. Insa lumea nu si-ar cumpara un computer extrem de scump, nici nu puteau sa il
                            intretina sau sa ii gaseasca vreo intrebuintare asa ca au ajuns sa se creeze <i>Arcade
                                Cabinet-urile</i> unde la un pret foarte mic puteai juca cateva minute intr-un cadru
                            social.
                            Cand s-a observat ca poate fi profitabil s-a incercat aducerea jocurilor video intr-un
                            mod
                            cat
                            mai ieftin pentru consumatori... si asa au aparut <b>consolele</b> (si au disparut
                            <i>Arcade
                                Cabinet-urile</i> )
                        </p>
                    </article>

                </section>
                <section id="isto-proiect">
                    <h3>Despre proiect</h3>
                    <section>
                        <h4> Despre Site </h4>
                        <p> Salut, daca ai ajuns aici din intamplare probabil te-ai ratacit destul de mult. Acesta
                            este
                            un proiect facut de <em>mine</em>, Dragos Bahrim, pentru laboratorul <del>optionalului
                            </del>
                            Tehnici Web din <s>anul 3</s><ins>anul 2</ins> (adaugat pentru future-proofing intrucat
                            programa se schimba) </p>
                    </section>
                    <section>
                        <h4> Despre alegerea temei</h4>
                        <p> Am ales tematica unui <b>magazin de jocuri video</b> insa pentru surprinderea nimanui ca
                            un
                            elev ce
                            studieaza un domeniu legat de <em>informatica</em>, jocurile fac o parte mare din viata
                            mea
                            si din
                            alegerea mea de a studia acest domeniu, intrucat am si multe cunostinte in acest domeniu
                            am
                            ales sa fac acest proiect despre una din pasiunile mele, mai ales ca in afara timpului
                            petrecut invand majoritatea este petrecut dand <i>grind</i> pentru diferite nivele in
                            multe
                            jocuri sau servicii.
                        </p>

                        <aside>
                            <p>O sa va regasiti pe site in comentarii sau in noutati cu diferiti termeni specifici,
                                acesta este o lista pentru a fi mai familiari </p>
                            <dl>
                                <dt>Grind</dt>
                                <dd> Actiunea de a petrece mult timp facand o actiune, de cele mai multe ori
                                    repetetiva,
                                    cu scopul de a obtine un obiect rar sau pentru a obtine un anumit grad intr-un
                                    joc
                                </dd>
                                <dt>Easter Egg</dt>
                                <dd>
                                    In general Easter Egg-urile sunt folosite cu sensul de o supriza neplacuta insa
                                    in
                                    jocuri-video ele se refera la evenimente, locuri sau obiecte ascunse si iesite
                                    din
                                    context, de dezvoltatori cu scopul de a surprinde jucatorul
                                </dd>
                                <dt>Boss</dt>
                                <dd>Un inamic foarte puternic aflat de obicei la finalul unui nivel </dd>
                                <dt>Glitch</dt>
                                <dd>Eroare de dezolvtare ce poate avea un impact foarte puternic asupra
                                    jucatorului(precum stergerea progresului) dar de obicei minor si usor amuzant
                                    (de
                                    exemplu animatii incorecte ale caracterelor)</dd>
                                <dt>Farming</dt>
                                <dd>Actiunea a acumula foarte multe resurse intr-un joc</dd>
                                <dt>DLC</dt>
                                <dd>Downloadable content (Continut descarcabil), continut adaugat de dezvoltator
                                    separat
                                    de obicei pentru un cost suplimentar</dd>
                            </dl>
                        </aside>
                    </section>
                </section>
            </section>
        </main>

        <%- include("../fragmente/footer.ejs") %>

</body>

</html>