body {
    --color_default: #0076f5;
    --og_color_default_light: #99caff;
    --og_color_default_darker: #0051a8;
    --color_default_light: #bad5f3;
    --color_default_darker: #286eb8;
    --color_alternative: #a86b00;
    --color_alternative_lighter: #f5c167;
    font-family: "Courier Prime";
    --text-color-ligth: white;
    --text-color-dark: black;
    --animation_default: 0.5s linear;
    --border_default: 0.1em solid black;
    --border_radius_default: 50px 50px 50px 50px;
    --text_size_normal: 23px;
    --text_size_bigger: 25px;
    --text_size_small: 19px;
    --text_size_smallest: 17px;
    --text_size_medium: 21px;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    overflow: auto auto;
    background-color: var(--color_default_darker);
}

body.dark {
    --color_default: #70587c;
    --og_color_default_light: #2c2131;
    --og_color_default_darker: #8a699b;
    --color_default_light: #2c2131;
    --color_default_darker: #000000;
    --color_alternative: #502f4c;
    --color_alternative_lighter: #f9f4f5;
    --text-color-ligth: black;
    --text-color-dark: white;
}

body.luck {
<%%$COLORS$%%>
}

body {
    color: var(--text-color-dark);
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
main {
    grid-area: main;
}
nav {
    grid-area: nav;
}
video::cue {
    background-color: white;
    color: var(--color_default_darker);
}
@media (max-width: 500px) {
    body {
        font-size: var(--text_size_small);
    }
}
@media (min-width: 501px) and (max-width: 900px) {
    body {
        font-size: var(--text_size_medium);
    }
}
@media (min-width: 901px) {
    body {
        font-size: var(--text_size_bigger);
    }
}

.text-container {
    background-color: var(--color_default_light);
    border: var(--border_default);
    border-radius: var(--border_radius_default);
    padding: 2vw;
}

hr {
    height: 20px;
    background-image: repeating-linear-gradient(var(--color_default), var(--color_default_light) 25%);
    border-radius: 10px 10px 10px 10px;
}

#watermark,
#absolut {
    display: none;
}
