body {
    --color_default: #0076F5;
    --color_default_light: #99CAFF;
    --color_default_darker: #0051A8;
    --color_alternative: #A86B00;
    --color_alternative_lighter: #F5C167;
    font-family: "Courier Prime";
    --text-color-ligth: white;
    --text-color-dark: black;
    --animation_default: 0.5s linear;
    --border_default: 1px solid black;
    font-size: x-large;
}

@media (max-width: 480px) {
    body{
        font-size: medium;
    }
}
@media (min-width: 481px) and (max-width: 810px) {
    body{
        font-size: x-large;
    }
}
@media (min-width: 811px) {
    body{
        font-size: xx-large;
    }
}