footer {
    background-color: var(--color_default_light);
    padding: 20px;
    background-color: var(--color_default_light);
    border: 0.1em solid black;
    border-radius: 50px 50px 50px 50px;
}
#top-arrow {
    z-index: 250;
    width: 5vw;
    height: auto;
    position: fixed;
    bottom: 1em;
    left: 1em;
}
#top-arrow a {
    text-decoration: none;
    position: sticky;
    display: block;
    border: 1px solid black;
    border-radius: 50% 50% 0% 0%;
    text-align: center;
    background-color: var(--color_default_light);
    box-shadow: 0px 0px 0px 0px inset black;
    opacity: 0.4;
    transition: 0.7s linear;
    color: var(--text-color-dark);
}
#top-arrow * {
    margin: 0px;
}
#top-arrow a:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px 10px inset black;
    background-color: var(--color_default_darker);
    color: var(--text-color-ligth);
}
#top-arrow p {
    scale: 0.5;
    transition: 0.7s linear;
}
#top-arrow:hover p {
    scale: 2;
}
footer {
    margin-top: 1em;
}
