<article>
    <h3>Produs</h3>
    <p>Categories</p>
    <div>
        <p>Descriere</p>
        <img src="#" alt="img-produs" />
    </div>
    <ul>
        <li>
            Pret
        </li>
        <li>
            Greutate
        </li>
        <li>
            Compatibilitate
        </li>
        <li>
            <time datetime="2018-09-15">Sambata, 15-Septembrie-2018</time>
        </li>
        <li>
            Exclusiv Online
        </li>
    </ul>
</article>