<footer id="footer">
    <p id="banner">Acesta este un proiect scolar. Acceptati cookiurile de pe site? <button id="ok_cookies">Ok</button>
    </p>
    <img id="watermark" src="/resurse/imagini/Watermark.png" alt="Dragos Bahrim - Watermark">
    <div id="top-arrow">
        <a href="#" title="Go up">
            <p>&#129081;</p>
        </a>
    </div>
    <address>
        <a href="mailto:maagsarba@domain.com">maagsarba@domain.com</a><br>
        <a href="tel:+40726401236">0726401236</a>
        Strada Realizarilor, Numarul 13, Gharma, Estoptania
    </address>
    <small>&copy;</small>
    <time datetime="2021-10">Octombire 2021</time>
</footer>