<header>
    <img id="logo" src="/resurse/imagini/Sandbadog_logo.png">
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul>
        <li>
            <a href="/"> <span style="font-size: 75%;" class="fas fa-home"> </span>
                <div class="a-text">Acasa</div>
            </a>
            <ul>
                <li><a href="/#magazin">Magazin</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/#produse">Produse frecvent cumparate</a></li>
                <li><a href="/#intrebari">Intrebari frecvente</a></li>
            </ul>
        </li>
        <li>
            <a href="/istoric"> <span style="font-size: 75%;" class="fas fa-landmark"> </span>
                <div class="a-text">Istoric</div>
            </a>
        </li>
        <li>
            <a href="/"> <span style="font-size: 75%;" class="fas fa-cash-register"> </span>
                <div class="a-text">Produse</div>
            </a>
            <ul>
                <li><a href="Toate"> Toate </a> </li>
<li><a href="Jocuri"> Jocuri </a> </li>
<li><a href="Console"> Console </a> </li>
<li><a href="Accesorii"> Accesorii </a> </li>
<li><a href="Carduri Valorice"> Carduri Valorice </a> </li>

            </ul>
        </li>
        <li>
            <a href="https://sites.google.com/view/sandbadog">Blog</a>
        </li>
        <li>
            <a href="#">Magazin</a>
            <ul>
                <li><a href="#">Pagina Principala</a> </li>
                <li><a href="#">Promotii</a> </li>
            </ul>
        </li>
    </ul>
</nav>