<header>
    <img id="logo" src="/resurse/imagini/Sandbadog_logo.png">
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul>
        <li>
            <a href="/"> <span style="font-size: 75%;" class="fas fa-home"> </span>
                <div class="a-text">Acasa</div>
            </a>
            <ul>
                <li><a href="/#magazin">Magazin</a></li>
                <li><a href="/#forum">Forum</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/#produse">Produse frecvent cumparate</a></li>
                <li><a href="/#intrebari">Intrebari frecvente</a></li>
            </ul>
        </li>
        <li>
            <a href="/istoric"> <span style="font-size: 75%;" class="fas fa-landmark"> </span>
                <div class="a-text">Istoric</div>
            </a>
        </li>
        <li>
            <a href="#">Forum</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Magazin</a>
            <ul>
                <li><a href="#">Pagina Principala</a> </li>
                <li><a href="#">Promotii</a> </li>
            </ul>
        </li>
    </ul>
</nav>