<header>
    <nav>
        <ul>
            <li>
                <a href="/">Acasa</a>
                <ul>
                    <li><a href="/#istoric">Istoric</a></li>
                    <li><a href="/#magazin">Magazin</a></li>
                    <li><a href="/#forum">Forum</a></li>
                    <li><a href="/#blog">Blog</a></li>
                    <li><a href="/#produse">Produse frecvent cumparate</a></li>
                    <li><a href="/#intrebari">Intrebari frecvente</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Magazin</a>
            </li>
            <li>
                <a href="#">Forum</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </nav>
</header>